.container {
  display: flex;
  padding: 22px 40px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.btnBox {
  display: flex;
  gap: 25px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #000;
}

.link:hover {
  box-sizing: border-box;
  border-bottom: 2px solid rgb(7, 7, 7);
}