.container {
  display: flex;
  padding: 22px 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.btnBox {
  display: flex;
  gap: 25px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  font-weight: 700;
  color: #000;
}

.link:hover {
  box-sizing: border-box;
  color: #5a5a5a;
}