<app-slider></app-slider>
<h2 style="text-align: center; margin-top: 35px;">Новинки</h2>
<div class="container">
  <div *ngFor="let product of products" class="card">
    <div class="imgBox">
      <div [ngClass]="product.like ? 'like like-active' : 'like'" (click)="like(product)">&#9733;</div>
      <img
        [routerLink]="['/products', product.id]"
        class="photo"
        [src]="product.image"
        alt="photo"
      />
    </div>

    <p class="name" [routerLink]="['/products', product.id]">{{ product.name }}</p>
    <p class="description" *ngIf="product.description">{{ product.description }}</p>
    <p class="price">{{ product.price | currency }}</p>

    <div style="display: flex; gap: 10px; align-items: center;">
        <button class="btn" style="height: 25px;" type="button" [routerLink]="['/products', product.id]">Подробнее</button>
        <button *ngIf="!product.inCart" class="btn btnToCart" style="height: 25px;" type="button" (click)="addToCart(product)">Купить</button>
        <button *ngIf="product.inCart" class="btn btnToCart" style="height: 25px;" type="button" [routerLink]="['/cart']" >В корзину</button>
    </div>
  </div>
</div>