<div class="container">
  <div *ngFor="let product of products" class="card">
    <div class="imgBox" [routerLink]="['/products', product.id]">
      <img
        class="photo"
        [src]="product.image"
        alt="photo"
      />
    </div>

    <p class="name" [routerLink]="['/products', product.id]">{{ product.name }}</p>
    <p class="description" *ngIf="product.description">{{ product.description }}</p>
    <p class="price">{{ product.price | currency }}</p>

    <div style="display: flex; gap: 10px; align-items: center;">
      <button class="btn" style="height: 25px;" type="button" (click)="share()">В избранное</button>
       <button class="btn btnToCart" style="height: 25px;" type="button" (click)="addToCart(product)">Купить</button>
    </div>
  </div>
</div>