.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 25px 0;
}

.imgBox {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 320px;
  height: 370px;
  align-items: center;
  justify-content: center;
  background: #F9F9F9;
}

.like {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #cccccc;
  border-radius: 100%;
  font-size: 33px;
  color: #cccccc;
  transition: all 0.5s ease;

  &:hover {
    background: #666666;
    color: #fff;
    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
}

.like-active {
  background: #000;
  color: #F9F9F9;
}

.photo {
  width: auto;
  height: 270px;
}

.name {
  cursor: pointer;
  width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.price {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #EB5757;
  padding: 20px 25px;
  width: 45%;
  background: none;
  color: #EB5757;
  font-size: 16px;
  font-weight: 700;
  z-index: 10;
  transition: all 0.2s ease;

  &:hover {
    border: 1px solid #f7b4b4;
    font-weight: 700;
    transform: scale(1.05);
    transition: all 0.2s ease;
  }
}

.btnToCart {
  background: #EB5757;
  color: #fff;

  &:hover {
    background: #fc7373;
  }
}